@charset "ISO-8859-1";

body {
    margin: 0px;
    background-color: #f2f2f2;
    background-image: url("https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: 10% 50%;
    background-size: cover;
}

.container {
    margin: 50px auto;
    width: 80%;
    min-height: 200px;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgb(168, 168, 168);
    border-radius: 10px;
}

.nav {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: fit-content;
    background-color: #007bff;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav a:hover {
    background-color: #0069d9;
    color: black;
}

.heading {
    padding: 10px 0 20px 0;
    margin: auto;
    width: fit-content;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 8px;
    border-radius: 2px;
    margin-top: 10px;
}

input[type="number"] {
    outline-color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="submit"] {
    background-color: #007bff;
    font-weight: bolder;
    outline: none;
    border: none;
    color: white;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}

.add-form th {
    text-align: left;
}

.add-form {
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
}

.stud-list {
    margin: auto;
    overflow-x: auto;
}

.stud-list table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-family: sans-serif;
}

.stud-list th,
.stud-list td {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.stud-list th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.stud-list tr:hover {
    background-color: #f8f8f8;
}

.stud-list {
    padding-bottom: 20px;
}

.stud-list .student-photo {
    max-width: 50px;
    max-height: 50px;
}

.search-form {
    float: right;
    margin-top: 10px;
}

.search-form input {
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    width: 200px;
    padding: 7px 17px;
}

.search-form button {
    background-color: #007bff;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
}

.search-form button:hover {
    background-color: #0069d9;
}